Source: git-test
Section: unknown
Priority: extra
Maintainer: Anders Eurenius <aes@spotify.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/git-test.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/git-test.git;a=summary

Package: git-test
Architecture: any
Depends: git | git-core
Description: Git extension to conveniently test all distinct versions
 git-test checks out each commit in turn and runs tests, skipping commits
 whose contents have already been tested.
